@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* || RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

/* || VARIABLES */
:root {
        /* fonts */
    --font-family-sans-serif: "Roboto", sans-serif;
    --font-size-sm: 1.5rem;
    --font-size-bg: 3rem;
    --font-weight-reg: 700;
    
        /* colors */
    --white: rgb(255, 255, 255);
    --blue: rgb(4, 104, 191);
    --light-blue: rgb(67, 145, 212);
    --main-bgcolor: rgb(15, 22, 27);
    --AC-and-del-bgcolor: rgba(210, 210, 210, 0.3);
    --btn-bgcolor: rgba(210, 210, 210, 0.08);

        /* others */
    --margin-or-gap: 0.5rem;
}

/* || GENERAL STYLES */
body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.body-inner {
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-reg);
    background-color: var(--main-bgcolor);
    display: flex;
    flex-direction: column;
    height: 100vh; 
    padding: 5%;
}

.calc-output {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 5rem;
}

.output--top-section {
    color: var(--white);
    font-size: var(--font-size-bg);
}

.output--bottom-section {
    color: rgba(255, 255, 255, 0.3);
    font-size: var(--font-size-sm);
    min-height: 2.375rem;
}

.calc-input {
    flex-basis: 60%;
    display: grid;
    gap: 0.5rem;
}

.top-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.bottom-section {
    display: flex;
    gap: 0.5rem;
}

.bottom--left-section {
    flex-basis: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.bottom--right-section {
    flex-basis: 25%;
    display: grid;
    gap: 1rem;
    margin: var(--margin-or-gap) 0;
}

button {
    border: none;
    height: 10vh; 
    width: 20.625vw; /* the available width is 90vw(90%) for calc-input, and that minus the gaps is 82.5vw, so this divided by 4 */
    color: var(--blue);
    background-color: var(--btn-bgcolor);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.bottom--right-section button {
    height: auto;
    color: var(--white);
}

/* the backspace image didn't seem to be right in the center at first */
.top-section button:nth-child(2) {
    display: grid;
    place-content: center;
}

.all-clear-btn,
.division-btn,
.multiplication-btn,
.minus-btn,
.plus-btn,
.equals-btn {
    color: var(--white);
}

.all-clear-btn,
.backspace-btn {
    background-color: var(--AC-and-del-bgcolor);
    margin-bottom: var(--margin-or-gap);
}

.division-btn,
.multiplication-btn,
.minus-btn,
.plus-btn {
    background-color: var(--blue);
}

.equals-btn {
    background-color: var(--light-blue);
}

.one-btn {
    margin-bottom: var(--margin-or-gap);
}

/* || MEDIA QUERIES */
@media screen and (width > 900px) {
    html {
        background-image: linear-gradient( 
        to right,
        rgb(4, 104, 191),
        rgb(33, 135, 211),
        rgb(72, 159, 223),
        rgb(100, 181, 239),
        rgb(120, 200, 255)
        );
        max-height: 100vh;
    }

    .body-inner {
        max-width: 22%;
        margin: 25px auto;
        max-height: calc(100vh - 50px); /* minus the top and bottom margin */
        border-radius: 1rem;
        padding: 1.25%;
    }

    .calc-output {
        padding: 2rem 0;
    }

        /* The container .body-inner is set from 90% to 22% of the viewport, but the initial 20.625vw button width is too wide for this smaller container so the button width has to resized */
    button {
        width: auto;
    }
}